.contact-title{
    h2{
        color: #fff;
        text-align: center;
        margin-top: 120px;
    }
}

.left{
    display: block;
   .block1{
    text-align: center;
    margin-top: 10px;
    h4{
        color: #ffb30e;
        line-height: 2px;

    }
    p{
        color: #fff;
        line-height: 2px;

    }
   }
   .block2{
    text-align: center;
    margin-top: 15px;
    h4{
        color: #ffb30e;
        line-height: 2px;

    }
    p{
        color: #fff;
        line-height: 2px;

    }
   }
   .block3{
    margin-top: 15px;
    text-align: center;
    h4{
        color: #ffb30e;
        line-height: 2px;
    }
    p{
        color: #fff;
        line-height: 2px;
    }
   }
}