.contact-title{
    h2{
        color: #fff;
        text-align: center;
        margin-top: 100px;
    }
}
.contact-container{
    display: flex;
    justify-content: center;
    gap: 150px;
    img{
        margin-top: 15vh;
    }
}

.left{
    display: block;
    margin-top: 50px;
   .block1{
    text-align: center;
    margin-top: 10px;
    h4{
        color: #b30808;

    }
    p{
        color: #fff;

    }
   }
   .block2{
    text-align: center;
    margin-top: 15px;
    h4{
        color: #b30808;

    }
    p{
        color: #fff;

    }
   }
   .block3{
    margin-top: 15px;
    text-align: center;
    h4{
        color: #b30808;
    }
    p{
        color: #fff;
    }
   }
}
.form-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .form-text {
    margin-top: 70px;
    h5 {
      color: #ffffff;
      width: 300px;
      margin: auto;
      text-align: center;
    }
  }
  input {
    width: 350px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #beb8b8;
    margin-top: 20px;
    color: #ffffff;
  }
  input::placeholder {
    padding-left: 10px;
  }

  textarea {
    width: 350px;
    height: 70px;
    background-color: transparent;
    border: 1px solid #beb8b8;
    margin-top: 20px;
    color: #ffffff;
  }
  .success-message {
    P {
      color: #ffffff;
      text-align: center;
      font-size: 13px;
      margin: 30px auto;
    }
  }
  .send {
    padding: 10px 20px;
    background-color: #b30808;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    margin-top: 20px;
    transition: background-color 0.5s ease-in-out;
  }
  button:hover {
    background-color: #0a0a0a;
    color: #b30808;
    border: 1px solid #ffffff;
  }
.feedback {
  p {
    color: #b30808;
    font-size: 13px;
    margin-top: 5px;
  }
}

@media screen and (max-width:1024px) {
    .contact-container{
        gap: 100px;
        img{
            margin-top: 20vh;
            width: 300px;
            height: 400px;
        }
    }
    input {
        width: 300px;
      }
      textarea {
        width: 300px;
      }
}

@media screen and (max-width:767px) {
    .contact-container{
        img{
           display: none;
        }
    }
    input {
        width: 250px;
      }
      textarea {
        width: 250px;
      }
}