.back{
  color: #f3db00;
  background-color: transparent;
  position: relative;
  top: 60px;
  left: 180px;
  cursor: pointer;
  button{
    padding: 10px 20px;
    border: none;
    font-size: 30px;
  }
}
.golf16{ 
  img{
    width: 400px;
    height: 270px;
  }
}
  .container {
    display: block;
    .golf16 {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
    .details {
      color: #fff;
      text-align: start; 
      width: 450px;
      margin: auto;
      h2 {
        text-align: center;
        line-height: 50px;
        color: #f3db00;
        font-size: 30px;
      }
      p{
        font-size: 20px;
      }
    }
  }
  .book {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    button {
      padding: 10px 28px;
      border: 1px solid #f3db00;
      background-color: transparent;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      border-radius: 15px;
      cursor: pointer;
    }
  }

@media screen and (max-width: 520px) {
    .container {
      display: block;
      .golf16 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
      }
      .details {
        color: #fff;
        text-align: start;
        width: 350px;
        margin: auto;
        h2 {
          text-align: center;
          line-height: 40px;
          color: #f3db00;
        }
      }
    }
    .book {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      button {
        padding: 10px 28px;
        border: 1px solid #f3db00;
        background-color: transparent;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        border-radius: 15px;
      }
    }
  }
  